SSH_HOST=0.0.0.0
SSH_PORT=2222
SSH_DEFAULT_USERNAME=deploy
SSH_DEFAULT_PASSWORD=ChangeMe123!
SSH_HOST_KEY_PATH=./keys/ssh_host_ed25519_key
SSH_USERS_FILE=./config/users.json
SSH_COMMANDS_FILE=./config/commands.json
SSH_SFTP_ROOT=./s12ryt
SSH_ENABLE_SHELL=true
# SSH_SHELL_PATH=/bin/bash
SSH_SHELL_CWD=./s12ryt
SSH_MAX_CLIENTS=3
SSH_READY_TIMEOUT_MS=20000
SSH_LOG_LEVEL=info
