SSH_HOST=0.0.0.0
SSH_PORT=2222
SSH_HOST_KEY_PATH=./keys/ssh_host_ed25519_key
SSH_USERS_FILE=./config/users.json
SSH_COMMANDS_FILE=./config/commands.json
SSH_SFTP_ROOT=./storage/sftp
SSH_ENABLE_SHELL=false
# SSH_SHELL_PATH=/bin/bash
# SSH_SHELL_CWD=./storage/sftp
SSH_MAX_CLIENTS=3
SSH_READY_TIMEOUT_MS=20000
SSH_LOG_LEVEL=info
